* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "body side";
    grid-template-columns: 80% 20%;
}

h1 {
    padding: 50px;
}

.main {
    height: 100vh;
    background-color: rgb(255, 248, 145);
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar {
    grid-area: side;
    background-color: rgba(238, 215, 12, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collective {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

fieldset
{
  background-color:rgb(245, 224, 175);
  padding:16px;	
  font-size: 1.9rem;
  border: 2px dashed rgb(247, 150, 4);
  border-radius: 10px;
}

legend {
    margin: 0 10px;
}

input,
select {
    width: 100%;
    margin: 10px 0 ;
    padding: 6px 20px;
    border-radius: 5px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 4px 4px 9px rgb(255, 115, 0);
}

button {
    width: 50%;
}


td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

table {
    border: 2px solid rgb(200, 200, 200);
    width: 70%
}